body {
    padding-top: 70px;
    padding-bottom: 30px;
}

h1, h2 {
    border-bottom: 1px solid #e9ecef;
}

textarea {
    width: 100%;
}

.container-signin {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}