{% extends "base_page.html" %}

{% block title %}
Контесты
{% endblock %}

{% block pagetitle %}
Доступные контесты
{% endblock %}

{% block content %}
{% if contest_list_is_empty %}
Пока доступных контестов нет...
{% endif %}
{% for contest_id, contest_name in contest_list %}
<li>
    <a href="/tasks/{{ contest_id }}/">{{ contest_name }}</a>
    {% if user_is_admin %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-xs btn-danger" name="delete_contest" id="delete_contest" value="{{ contest_id }}">Удалить</button>
    </form>
    {% endif %}
</li>
{% endfor %}
{% if user_is_admin %}
<h3>Добавить новый контест</h3>
<form method="post">
    {% csrf_token %}
    <label for="new_contest_name">Название</label>
    <input type="text" class="form-control input-default" name="new_contest_name" id="new_contest_name"></input>
    {% if contest_name_error %}
    <div class="alert alert-danger" role="alert">
        <strong>Ошибка ввода:</strong>{{ contest_name_error }}
    </div>
    {% endif %}
    <p><button type="submit" class="btn btn-primary" id="add_contest">Добавить</button></p>
</form>
{% endif %}
{% endblock %}